<!DOCTYPE>
<html>
    <head>
        
    </head>
    <body>
        <h2>URL-SHORTENER</h2>
        <em>created by <a href="https://durgakiran.github.io">@durgakiran</a></em>
        <hr>
        <h2>Example Usage</h2>
        <p><b>You have enter in the below shown pattern</b></p><br>
        <h4>https://mus.glitch.me/new/http://www.example.com</h4>
        <h4>https://mus.glitch.me/new/www.example.com</h4>

        <h2>example output</h2>
        <p>[{"original_url":"http://www.example.com","shortened_url":"B1AXh9pDW"}]</p>
        
        
    </body>
</html>